<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDD4Jyu8QrlUuYNtxgiYhJqGbX8e7sNa00</string>
	<key>GCM_SENDER_ID</key>
	<string>752185020962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.proyecto</string>
	<key>PROJECT_ID</key>
	<string>salon-app-50afa</string>
	<key>STORAGE_BUCKET</key>
	<string>salon-app-50afa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752185020962:ios:6ffee941c01c646726f07b</string>
</dict>
</plist>